body {
	box-sizing: border-box;
	margin: 0;
}

#root {
	position: absolute;
}

#chartContainer {
	position: absolute;
	background-color: inherit;
	opacity: 0.8;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 400px;
}
